.contentStyle{
    margin-left: 5%;
    width:90%;
    height:100%;
    font-family:"DejaVu Sans";
    font-size: 13px;
    border:0px;
    min-width: 400px;
}
.btn-green
{
    width: 24px;
    weight:50px;
    background-image:url('../img/bt01.jpg')
}