.contentStyle{
    margin-left: 2%;
    width:95%;
    height:100%;
    font-family:"DejaVu Sans";
    font-size: 13px;
    border:0px;
    min-width: 800px;
}
.btn-green
{
    width: 24px;
    weight:50px;
    background-image:url('../img/bt01.jpg')
}
.input-txt
{
    display:block;
    border:1px solid #B;
    height:32px;
    width:65%
}
