/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 17, 2016, 2:55:35 PM
    Author     : bootcamp19
*/
body{
  font-size:15px;
}
.tip{
  color:#C00020;
  text-decoration:none;
  position:absolute;
  left:450px;
}
.tip span{
  display:none;
}
.tip:hover{
  cursor:pointer;
}
.tip:hover .popbox{
  font-size:14px;
  display:block;
  position:absolute;
  top:-80px;
  left:20px;
  width:680px;
  background-color:#FF8060;
  color:white;
  padding:10px;
}
.minwidth{
    min-width: 400px;
    max-width: 100%;
}
.text-area{
    display:block;
    border:1px solid #B;
    height:32px;
    width:100%;
    min-height:32px;
    max-height: 100px;
    min-width: 400px;
       
}