/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 17, 2016, 2:55:35 PM
    Author     : bootcamp19
*/
body{
  font-size:15px;
}
.tip-1{
  color:#C00020;
  text-decoration:none;
  position:relative;
  left:55px;
}
.tip-2{
  color:#C00020;
  text-decoration:none;
  position:relative;
  left:40px;
}
.tip-3{
  color:#C00020;
  text-decoration:none;
  position:relative;
  left:70px;
}
.tip-4{
  color:#C00020;
  text-decoration:none;
  position:relative;
  left:105px;
}
.tip-1 span,.tip-2 span,.tip-3 span,.tip-4 span{
  display:none;
}
.tip-1:hover,.tip-2:hover,.tip-3:hover,.tip-4:hover{
  cursor:pointer;
}
.tip-1:hover .popbox, .tip-2:hover .popbox,.tip-3:hover .popbox,.tip-4:hover .popbox{
  font-size:14px;
  display:block;
  position:absolute;
  top:-80px;
  left:20px;
  width:680px;
  background-color:#FF8060;
  color:white;
  padding:10px;
}
.minwidth{
    min-width: 400px;
    max-width: 100%;
}
.text-area{
    display:block;
    border:1px solid #B;
    height:30px;
    width:100%;
    resize: none;
       
}