/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 17, 2016, 2:55:35 PM
    Author     : bootcamp19
*/
body{
  font-size:12px;
}
.tip{
  color:#C00020;
  text-decoration:none;
  position:absolute;
  left:450px;
}
.tip span{
  display:none;
}
.tip:hover{
  cursor:pointer;
}
.tip:hover .popbox{
  display:block;
  position:absolute;
  top:-80px;
  left:20px;
  width:680px;
  background-color:#99BBFF;
  color:white;
  padding:10px;
}
.minwidth{
    min-width: 400px;
}