<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Account Test Suite" parallel="false" thread-count="1"
       configfailurepolicy="continue">
    <parameter name="grid" value="true" />
    <parameter name="hubHost" value="10.2.7.32" />
    <parameter name="hubPort" value="4444" />  

 
<test name="US01">
    
        <classes>
             <class name="com.perficient.test.US01.clear"/>
            <class name="com.perficient.test.US01.TC001_US01"/>
<!--            <class name="com.perficient.test.US01.clear"/>
            <class name="com.perficient.test.US01.TC002_US01"/>-->
        </classes>
 </test> 
<!--<test name="US02">
    
        <classes>
            <class name="com.perficient.test.US02.TC001_US02"/>
            
        </classes>
 </test>-->
<!-- <test name="US03">
        <classes>
            <class name="com.perficient.test.US03.TC001_US03"/>
            <class name="com.perficient.test.US03.TC002_US03"/>
        </classes>
 </test> -->
 
</suite>

